#!/bin/sh -

ENVRC_ABS="$(realpath "$1")"
export NORM_PATH="$(dirname "$ENVRC_ABS")"

export CPATH="$NORM_PATH/include"
export CFLAGS="-I$CPATH"
export CFLAGS="$CFLAGS -nostdinc -fno-builtin -ffreestanding -fno-stack-protector"

export LDFLAGS="-L$NORM_PATH/lib -Wl,-rtlib=$NORM_PATH/lib/libnorm_crt.a"
export LDFLAGS="$LDFLAGS -lnlibc -nostdlib"


export C_INCLUDE_PATH="$NORM_PATH/include"
export LIBRARY_PATH="$NORM_PATH/lib"
