#!/bin/sh -

ENVRC_ABS="$(realpath "$1")"
export NORM_PATH="$(dirname "$ENVRC_ABS")"

export CC="/usr/local/bin/aarch64-none-elf-gcc -DSTM32H563ZITx -DSTM32 -DSTM32H5 -DNUCLEO_H563ZI"
export LD="/usr/local/bin/aarch64-none-elf-ld"
export AR="/usr/local/bin/aarch64-none-elf-ar"
export AS="/usr/local/bin/aarch64-none-elf-as -x assembler-with-cpp"

export CPATH="$NORM_PATH/include"
CFLAGS="-I$CPATH -Os -ffunction-sections -fdata-sections -Wall"
CFLAGS+=" -nostdinc -fno-builtin -ffreestanding"
export CFLAGS

LDFLAGS="-L$NORM_PATH/lib -lnlibc -nostdlib -static"
LDFLAGS+=" -T'STM32H563ZITX_FLASH.ld'"
LDFLAGS+=" -Wl,-Map='${BuildArtifactFileBaseName}.map'"
LDFLAGS+=" -Wl,--gc-sections -Wl,--start-group -Wl,--end-group"=
export LDFLAGS

export C_INCLUDE_PATH="$NORM_PATH/include"
export LIBRARY_PATH="$NORM_PATH/lib"
