#!/bin/sh -

export NORM_PATH=$(dirname "$(readlink -f "$1")")
echo "Set \$NORM_PATH=\"$NORM_PATH\""

export CC="arm-none-eabi-gcc -mcpu=cortex-m33 -mthumb"
export CPP="arm-none-eabi-cpp -mcpu=cortex-m33 -mthumb"
export CXX="arm-none-eabi-g++ -mcpu=cortex-m33 -mthumb"
export LD="arm-none-eabi-ld -mcpu=cortex-m33 -mthumb"
export AR="arm-none-eabi-ar"
export AS="arm-none-eabi-as"

export PATH="/usr/local/arm-none-eabi/bin:$PATH"

export CPATH="$NORM_PATH/include"
# CFLAGS="-I$CPATH -O3 -nostartfiles -nostdinc -fno-builtin -ffreestanding"
# CFLAGS+=" -fno-exceptions and -fno-unwind-tables"
export CFLAGS=""

# LDFLAGS="-L$NORM_PATH/lib -lnlibc -nostdlib"
export LDFLAGS=""

# C_INCLUDE_PATH="$NORM_PATH/include"
export C_INCLUDE_PATH=""

# LIBRARY_PATH="$NORM_PATH/lib"
export LIBRARY_PATH=""
